import { {{pascalCase name}}S } from './styles'

const {{pascalCase name}} = () => (
  <{{pascalCase name}}S>
    <h1>{{pascalCase name}}</h1>
  </{{pascalCase name}}S>
)

export default {{pascalCase name}}
